<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Yanshuf</title>
    <style>
        body {
        font-family: menlo;
        margin: 1em;
        }

        td {
        padding: 0.3em 1em;
        }

        th {
        font-size: 80%;
        }

        table {
        border-collapse: collapse;
        }

        td, th {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        }

        th {
        padding: 0 1em;
        }

        td {
        text-align: right;
        }
    </style>
</head>
<body>
    {{ table }}
</body>
</html>
